.dashboard-conatiner{
    display: flex;
    flex-direction: row;
  }
  
 .Sidebar-content{
  flex: 5;
}

.main-content{
  flex: 5;
  margin-left: 200px;
} 

table {
  margin: 50px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
  
  